.contacto {
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(1,1fr);
    display: flex;
    align-content: center;
    justify-content: center;

    .tablacontacto{
        background-image: url(../resources/img/back2.jpg);
        font-size: 20px;
        font-family: gotu;
        background-position: center;
        width: 500px;
        text-align: center;
        margin-bottom: 200px;
    }

}