.sobrenosotros {
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(2,1fr);

    h1{
        background-image: url(../resources/img/back2.jpg);
        color: white;
        font-family: gotu;
        font-size: 40px;
        grid-column: 2/8;
        grid-row: 1/2;
        text-align: center;
        height: 60px;
        background-size: cover;
        justify-content: center;
    }

    p{
        background-image: url(../resources/img/back2.jpg);
        color: white;
        font-size: 30px;
        font-family: gotu;
        justify-content: center;
        background-size: cover;
        grid-column: 2/8;
        grid-row: 2/3;
        margin-bottom: 30px;
    }


}